#textdivBubble
{	color:#2a2a2a;
    padding-top:0%;
    margin-left:1%;
}
#divallBubble{
    height:10%;
    background:#BDC3C7;
}

#div1Bubble{
    /*position:absolute;*/
    position:relative;
    float: left;
    margin-left: 1%;
    width:62%;
    height:40.5%;
    /*left:37%;*/
    /*top:3%;*/
    border-color:#BDC3C7;
    border-style: solid;
    border-width: 2px;
}

#headNav{
    color: dodgerblue;
    font-weight: bold;
    text-decoration: none;
}

/*#container_bubble {*/
    /*width : 45% ;*/
/*}*/

/*#div_bubble {*/
    /*margin-right: 5%;*/
/*}*/
