#textdivPie
{	color:#757D75;
  padding-top:0%;
  margin-left:1%;

}
#divallPie{
  height:10%;
  background:#EEEEEE;




}

#div1Pie{
  position:absolute;
  width:35%;
  height:40.5%;
  left:1%;
  top:3%;
  border-color:#EEEEEE;
  border-style: solid;
  border-width: 2px;





}
.divPie{
  position:absolute;
  width:99%;
  font-size:100%;
  top:0%;
  left:0.5%;





}


.pie {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}