#textdivPT {
    color: #2a2a2a;
    padding-top: 1%;
    margin-left: 1%;
}

#divallPT {
    height: 8%;
    background:#BDC3C7;
}

#div4PT {
    position: relative;
    float: left;
    width: 40%;
    height: 55%;
    margin-left: 1%;
    margin-top: 1%;
    border: #BDC3C7 solid 2px;
}

.divtable {
    position: absolute;
    width: 99%;
    height: 90%;
    font-size: 110%;
    top: 9%;
    left: 0.5%;
}
