.navbar{
    margin-bottom: 0;
    background-color: rgb(60, 60, 60);
    border-bottom-color: transparent;
}

#headerContainer{
    margin-left: 5%;
}

#tmnLogo{
    float: left;
    position: relative;
    width: 8%;
    margin-top: 0.5%;
}
#header{
    float: left;
    position: relative;
    font-size: 27px;
    color: #ff4220;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}


#allContents{
    margin-top: 72.9375px;
    height: 90.2%;
}



