.navbar{
    margin-bottom: 0;
    background-color: rgb(60, 60, 60);
    border-bottom-color: transparent;
}

#headerContainer{
    margin-left: 5%;
}

#tmnLogo{
    float: left;
    position: relative;
    width: 8%;
    margin-top: 0.5%;
}

#triangleLogo-header {
    /*float: right;*/
    /*position: relative;*/
    /*width: 4%;*/
    /*height: 4%;*/
    /*margin-top: 0.8%;*/
    float: right;
    position: relative;
    width: 2.05%;
    height: 2.05%;
    margin-top: 1.85%;
}

#header{
    float: left;
    position: relative;
    font-size: 27px;
    color: #ff4220;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}

#headerActual{
    float: right;
    position: relative;
    font-size: 27px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}

#allContents{
    margin-top: 72.9375px;
    height: 90.2%;
}

/* *************** REVENUE ************** */
#Q2-revenue{
    float: left;
    position: relative;
    background: #e5e5e5;
    width: 21%;
    height: 47.5%;
    top: 0.5%;
    left: 1.5%;
    right: 0.75%;
}

/* *************** TOP4 ************** */
#Q2-top4{
    float: left;
    position: relative;
    background: #e5e5e5;
    width: 38.25%;  /* 63-1.5-0.75 */
    height: 47.5%;
    top: 0.5%;
    left: 3%;
    right: 0.75%;
}

#top4div{
    float: right;
    position: relative;
    height: 84%;
    width: 93%;
    right: 3.5%;
    top: 8%;
}

.well.top4boxes{
    float: left;
    position: relative;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 47.5%;
    height: 46%;
}

#top1{
    background-color: #ffffff;
}

#top2{
    background-color: rgb(229, 65, 45);
    left: 5%;
    color: #ffffff;
}

#top3{
    background-color: #C0392B;
    top: 1%;
    color: #ffffff;
}

#top4{
    background-color: #C6C6C6;
    left: 5%;
    top: 1%;
}

.order{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    font-size: 30px;
}

.percent{
    position: relative;
    height: 67%;
    text-align: center;
    font-size: 45px;
}

.location{
    position: relative;
    height: 33%;
    text-align: center;
    font-size: 13px;

}

#first{
    color: #9c9c9c;
}

#second{
    color: #ffb6a5;
}

#third{
    color: #ff9c87;
}

#fourth{
    color: #f7f7f7;
}

/* ************ PIE OFFSET ************ */
#Q1-left{
    float: left;
    position: relative;
    background: #C6C6C6;
    width: 16.625%;
    /*width: 34.75%;*/
    height: 47.5%;
    right: 1.5%;
    left: 4.5%;
    top: 0.5%;
}

#chart-area{
    position: relative;
    width: 70% ;
    height: 70% ;
    left: 15%;
}

.displayoffload{
    text-align: center;
    margin-top: 7%;
    font-size: 20px;
}

/* ************ DEPLOY ************ */
#Q1-right{
    float: left;
    position: relative;
    background: rgb(244, 244, 244);
    width: 16.625%;
    /*width: 34.75%;*/
    height: 47.5%;
    right: 1.5%;
    left: 6%;
    top: 0.5%;
}

#deployTitle{
    text-align: center;
    top: 5%;
    font-size: 20px;
    position: relative;
}

#deployVersion{
    color: #ff001e;
    text-align: center;
    font-size: 24px;
    margin: 7% 0 2% 0;
}

#deployChart{
    margin: 0px auto;
    margin-top: 2%;
}

#donutChart {
    position: relative;
}

#donutPerc {
    text-align: center;
    font-size: 3em;
    top: 35%;
    display: block;
    position: absolute;
    width: 100%;
    color: #E5412D;
}

#donutChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* ************ MAP ************ */
#Q3{
    float: left;
    position: relative;
    background: rgb(244, 244, 244);
    width: 47.75%;
    height: 47.5%;
    left: 1.5%;
    right: 0.75%;
    top: 3%;
}

#Q3 h4{
    font-size: 20px;
}

#map {
    margin-left: auto;
    margin-right: auto;
    height: 83%;
    width: 90%;
    color: #ef0b08;
    font-size: 30px;
}

#headMap{
    text-align: center;
    color: #ff0005;
}

/* ************ REVENUE ************ */
#Q4{
    float: left;
    position: relative;
    background: #e5e5e5;
    width: 47.75%;
    height: 47.5%;
    left: 3%;
    top: 3%;
}

#Q4 h4{
    font-size: 20px;
    text-align: center;
}

#billTopup{
    float: right;
    position: relative;
    width: 100%;
}

#billTopup p{
    margin: 1% 0 0 5%;
}

.task-item, #color_revenuebar{
    margin-left: 7.5%;
}

#billTopup{
    float: right;
    position: relative;
    width: 100%;
    /*height: 95%;*/
    /*top: 8%;*/
}

#billTopup p{
    margin: 1% 0 0 7%;
}

.progress {
    position: relative;
}

.progress .progress-bar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgb(56, 180, 74);
}

.progress .progress-bar.progress-bar-red {
    background-color: rgb(229, 65, 45) !important;
}

.progress .progress-bar.progress-bar-blue {
    background-color: #81CFE0 !important;
}

.progress.progress-sm {
    height: 5%;
}

#area-chart-spline{
    width: 85%;
    height: 70%;
    margin: 0 auto;
}
#actualTx{
    /*position: relative;*/
    /*float: left;*/
    /*margin-left: 8%;*/
    /*margin-top: 5%;*/
    position: absolute;
    top:7%;
    left: 8%;
    color: black;
    font-size: 180%;
}
.actualAmount{
    /*position: relative;*/
    /*float: left;*/
    /*margin-top: 15%;*/
    position: absolute;
    top:17%;
    left: 20%;
    color: #38b44a;
    font-size: 300%;
}

#targetTx{
    position: absolute;
    /*float: left;*/
    top: 45%;
    left: 8%;
    /*margin-left: 8%;*/
    color: black;
    font-size: 180%;
}
.targetAmount{
    position: absolute;
    top:55%;
    left: 20%;
    /*float: left;*/
    /*margin-top: 10%;*/
    color: red;
    font-size: 300%;
}
.up-downArrow{
    /*position: relative;*/
    /*float: left;*/
    /*margin-top: 35%;*/
    position: absolute;
    left:82%;
    top:23%;
    width: 12%;
}
#revenueBar{
position: absolute;
    width: 95%;
    height: 150%;
    margin-top: 71%;
}